<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="App.js" defer></script>
    <style></style>
  </head>
  <body>
    <h1>Hello World :)</h1>
    <div id="app">
      <div v-if="showBooks">
        <h2>{{title}} - {{author}} - {{Age}}</h2>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide books</span>
        <!-- <span v-if="!showBooks">Show books</span> one more way using else -->
        <span v-else>Show books</span>
      </button>

      <div v-show="showBooks">Currently showing books</div>
    </div>
  </body>
</html>
